<html>
  <head>
    <link href="../css/style.css" type="text/css" rel="stylesheet">
    <title>Première application</title>
  </head>
  <body>
    <header>
    </header>
      <%- body %>
    <footer>
    </footer>
  </body>
</html>
